.venv/
venv/
__pycache__/
*.pyc
.DS_Store
datasets/
datos/
data/
*.zip
*.mp4
*.avi
*.mov
*.mkv
modelo/*.npz
modelo/perfiles_distancia.*
modelo/calibracion_*.npz
registros/*.csv
.vscode/

src_respaldo*/
src_respaldo_*/

src_respaldo*/
src_respaldo_*/

backups_ui/
src/*respaldo*.py
src_respaldo*/
src_respaldo_*/
